.painel {
  background-color: #f1f1f1;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  width: 130px;
}

.marca {
  position: absolute;
  top: 70px;
  left: 240px;
  font-size: 40px;
  font-family: "Geist-Regular";
}

.titulo {
  position: absolute;
  top: 160px;
  left: 200px;
  width: 1050px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.titulo-texto {
  text-align: center;
  font-family: "Italic Outline Art-Regular";
  font-size: 96px;
}

.linha {
  width: 550px;
  margin: 0 auto;
}

.box-senha {
  position: absolute;
  top: 410px;
  left: 150px;
  width: 1150px;
  height: 440px;
}

.box-fundo {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 65px;
  box-shadow: 0 2px 3px #0001, 0 6px 10px #0002, 0 20px 30px #0003;
  position: absolute;
}

.codigo {
  position: absolute;
  top: 140px;
  width: 100%;
  text-align: center;
  font-size: 96px;
  font-family: "Kaisei HarunoUmi-Regular";
}

.botao-final {
  position: absolute;
  top: 900px;
  left: 450px;
  width: 540px;
  height: 140px;
}

.botao-fundo {
  width: 100%;
  height: 100%;
  background: #71b1c2;
  border-radius: 200px;
}

.botao-texto {
  position: absolute;
  top: 35px;
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-family: "Kaisei HarunoUmi-Regular";
}
