.painel {
  background: #f1f1f1;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.logo {
  position: absolute;
  top: 30px;
  left: 100px;
  width: 130px;
}

.marca {
  position: absolute;
  top: 70px;
  left: 240px;
  font-size: 40px;
  font-family: "Geist-Regular";
}

.titulo {
  position: absolute;
  top: 180px;
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-family: "Italic Outline Art-Regular";
}

.lista {
  position: absolute;
  top: 350px;
  left: 200px;
  width: 1050px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.card-senha {
  background: #fff;
  border-radius: 50px;
  height: 170px;
  box-shadow: 0 6px 20px #0003;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65px;
  font-family: "Kaisei HarunoUmi-Regular";
}
