.selecionar {
  min-width: 1440px;
  min-height: 1024px;
  background: #f1f1f1;
  position: relative;
}

.logo {
  position: absolute;
  top: 29px;
  left: 104px;
  width: 130px;
}

.nome-app {
  position: absolute;
  top: 70px;
  left: 240px;
  font-size: 40px;
  font-family: "Geist-Regular";
}

.titulo {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-family: "Italic Outline Art-Regular";
}

.opcoes {
  position: absolute;
  top: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.card {
  width: 340px;
  height: 400px;
  background: #fff;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  box-shadow: 0px 6px 20px #0002;
}

.icone {
  width: 160px;
}

.txt {
  margin-top: 40px;
  font-size: 32px;
  text-align: center;
  font-family: "Kaisei HarunoUmi-Regular";
}
