.tipo {
  min-width: 1440px;
  min-height: 1024px;
  background: #f1f1f1;
  position: relative;
}

.logo {
  position: absolute;
  top: 29px;
  left: 104px;
  width: 130px;
}

.nome-app {
  position: absolute;
  top: 70px;
  left: 240px;
  font-size: 40px;
  font-family: "Geist-Regular";
}

.titulo {
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-family: "Italic Outline Art-Regular";
}

.caixa {
  position: absolute;
  top: 380px;
  left: 340px;
  width: 760px;
  height: 350px;
  background: #fff;
  border-radius: 60px;
  box-shadow: 0px 6px 20px #0002;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

#tipo-texto {
  font-size: 50px;
  font-family: "Kaisei HarunoUmi-Regular";
}

.botao {
  margin-top: 40px;
  width: 340px;
  height: 80px;
  background: #71b1c2;
  border-radius: 200px;
  font-size: 32px;
}
