/* Fundo da página específico para esta tela */
.chamar-paciente-container {
  min-height: 100vh;
  width: 100%;
  background-color: #f0f2f5; /* Cinza claro do fundo */
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  box-sizing: border-box;
}



.brand-name {
  font-size: 24px;
  color: #333;
  font-weight: 500;
}

/* main */
.chamar-paciente-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  width: 90%;
  max-width: 1400px;
  height: 100%;
}

/* senha atual */
.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 600px;
}

.section-title {
  font-size: 48px;
  margin: 0 0 10px 0;
  color: #000;
  font-weight: 400;
}

.underline {
  width: 100%;
  height: 4px;
  background-color: #7AB8CC; /* Azul claro */
  margin-bottom: 30px;
  border-radius: 2px;
}

.ticket-card {
  background: white;
  width: 100%;
  aspect-ratio: 1 / 1; 
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15); 
}

.ticket-code {
  font-family: 'Times New Roman', Times, serif;
  font-size: 5rem;
  color: #000;
  text-align: center;
  line-height: 1;
}

/* já chamadas */
.right-column {
  flex: 0.8;
  max-width: 450px;
  display: flex;
  flex-direction: column;
}

.history-card {
  background: white;
  min-height: 500px;
  border-radius: 40px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history-title {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 10px 0;
}

.history-underline {
  width: 70%;
  height: 4px;
  background-color: #7AB8CC;
  margin-bottom: 30px;
  border-radius: 2px;
}

/* responsividade */
@media (max-width: 900px) {
  .chamar-paciente-content {
    flex-direction: column;
    align-items: center;
  }
  
  .ticket-card {
    height: 300px;
    aspect-ratio: auto;
  }

  .ticket-code {
    font-size: 3rem;
  }
  
  .left-column, .right-column {
    width: 100%;
    max-width: 100%;
  }
}