.geral {
  display: flex;
  align-items: center; 
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(224, 224, 224);
}

.texto {
  flex: 1;
  text-align: left; /* deixa o texto alinhado à direita */
  margin-left: 10%;

}


.texto h2 {
  font-size: 3.3rem;
  margin-bottom: 35px;
}

.texto p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.texto button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}


.geral .texto button{
    background-color:#ADD8E6;
    border: none;
    border-radius:40px
}

.geral .imagem img {
  width: 100%;
  max-width: 450px; /* controla o tamanho da imagem */
  height: auto;

 
}

.final{
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 200px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.final h4{
  font-size: 0.8rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.final button{
    background-color:#ADD8E6;
    border: none;
    border-radius:40px;
    padding: 10px 20px;
}
.bloco h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.bloco p{
  font-size: 20px;
}
.bloco button{
  font-size: 20px;
}