.geral {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  background-color: rgb(224, 224, 224);

}

.texto {
  flex: 1;
  text-align: left; /* deixa o texto alinhado à direita */
  margin-left: 30px;

}


.texto h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.texto p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.texto button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.imagem {
  flex: 1;
}
.geral .texto button{
    background-color:#ADD8E6;
    border: none;
    border-radius:40px
}

.imagem img {
  width: 100%;
  max-width: 400px; /* controla o tamanho da imagem */
  height: auto;
  margin:0;
  align-items: right; 
 
}

.final{
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 200px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.final h4{
  font-size: 0.8rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.final button{
    background-color:#ADD8E6;
    border: none;
    border-radius:40px;
    padding: 10px 20px;
}