.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  background-color:transparent;
  border-bottom: 2px solid #ddd;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav a {
  padding: 8px 16px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.nav button:hover {
  background-color: #45a049;
}
