
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#ffffff;
  border-bottom: 2px solid #ffffff;
}

.logo {
  display: flex;
  flex-direction: row;
}
.logo_nome{
  font-size: 30px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
}

.nav {
  display: flex;
  gap: 15px;
  font-size: 25px;
}

.nav a {
  padding: 8px 16px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

